{% extends "base.html" %}

{% block content %}

<div class="container my-5">

    <h2 class="fw-bold mb-4">Panel Administrador</h2>

    <div class="row justify-content-start mt-4">

        <!-- Gestión de Usuarios -->
        <div class="col-md-3 mb-3">
            <a href="{% url 'admin_usuarios_lista' %}" class="text-decoration-none">
                <div class="admin-mini-card shadow-sm">
                    <i class="fa-solid fa-users admin-mini-icon"></i>
                    <span class="admin-mini-text">Gestión de Usuarios</span>
                </div>
            </a>
        </div>

        <!-- Panel Django -->
        <div class="col-md-3 mb-3">
            <a href="/admin/" class="text-decoration-none" target="_blank">
                <div class="admin-mini-card shadow-sm">
                    <i class="fa-solid fa-tools admin-mini-icon"></i>
                    <span class="admin-mini-text">Panel Django</span>
                </div>
            </a>
        </div>

        <!-- Reportes -->
        <div class="col-md-3 mb-3">
            <a href="#" class="text-decoration-none">
                <div class="admin-mini-card shadow-sm">
                    <i class="fa-solid fa-chart-line admin-mini-icon"></i>
                    <span class="admin-mini-text">Reportes</span>
                </div>
            </a>
        </div>

        <!-- Auditoría -->
        <div class="col-md-3 mb-3">
            <a href="#" class="text-decoration-none">
                <div class="admin-mini-card shadow-sm">
                    <i class="fa-solid fa-shield-heart admin-mini-icon"></i>
                    <span class="admin-mini-text">Auditoría</span>
                </div>
            </a>
        </div>

        <!-- NUEVO: Importar / Exportar -->
        <div class="col-md-3 mb-3">
            <a href="{% url 'formularios:menu_import_export' %}" class="text-decoration-none">
                <div class="admin-mini-card shadow-sm">
                    <i class="fa-solid fa-file-export admin-mini-icon"></i>
                    <span class="admin-mini-text">Exportar</span>
                </div>
            </a>
        </div>

    </div>

</div>

{% endblock %}
